
table.mytable {
    min-width: 400px;
    border-collapse: collapse;
}

table.mytable > thead > tr {
    background-color: #777;
}

table.mytable td {
    border: 1px solid black;
}

form div.input-holder {
    margin-bottom: 10px;
}
.jumbotron {
  background-image:url(http://www2.mapfre.com.br/documents/10379/19893/img_automaistaxi.jpg/4ff70cb8-2a9e-45f6-9602-cc4594cca1eb?t=1365996589000);
  height: 500px!important;
  
  background-repeat: no-repeat;
  
}
#my-map {
   min-height: 450px;
   min-width: 450px;
}